@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')
@import 'node_modules/bootstrap/scss/bootstrap'
@import 'helpers/variables'
@import 'helpers/forms'
@import 'helpers/buttons'
@import 'helpers/typography'
@import 'helpers/media'


body
	position: relative
	
	display: flex
	flex-direction: column
	font-family: $main-font
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $textcolor
	z-index: 1
	transition: .5s all 

	&.body-overlay
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: 99
			margin: auto
			background-color: rgba(0, 0, 0, .6)
html
	overflow-x: hidden

.main
	padding-top: 80px