@import config
@import helpers/video
@import header

@mixin transition()
	transition: .2s ease-out all 


.heroes
	padding-top: 60px
	@media(max-width: 767px)
		padding-top: 30px
	&-slider
		.slick-slide
			margin: 0 15px
		.slick-list
			margin: 0 -15px
	.pic
		display: flex
		align-items: center
		flex: 1 1
		padding: 20px

		img
			max-height: 350px
			margin: auto
			@include transition
	.item
		display: flex
		align-items: space-between
		flex-direction: column
		background-color: $accent
		height: 100%
		max-height: 500px
		&:hover
			text-decoration: none
			.desc
				background-color: #000
			.pic
				img
					transform: scale(1.05)
		&:focus
			outline: none
	.desc
		flex-shrink: 0
		background-color: #fff
		color: #fff
		background-color: $btn-dark-color
		text-align: center
		padding: 20px 15px
		@include transition

@keyframes pulse 
	0%
		transform: scale(1)
	25%
		transform: scale(1.2)
	50%
		transform: scale(1)
	75%
		transform: scale(1.2)
	100% 
		transform: scale(1)

.present
	padding-top: 60px
	@media(max-width: 767px)
		padding-top: 30px
	.h3
		margin-bottom: 20px
		line-height: 1.2
		span
			display: block
			padding-top: 20px
			text-transform: none
	.pic
		display: flex
		justify-content: center
		align-items: center 
		cursor: pointer
		img
			animation: pulse 4s infinite ease-in-out
			@media(max-width: 767px)
				animation: none
				max-height: 400px
	.form-title
		margin-bottom: 20px
		line-height: 1.2
		span
			color: $accent
			font-weight: 700
	.form-section
		padding-right: 30px
		@media(max-width: 767px) 
			padding-right: 0
	.btn
		width: 100%
		max-width: 100%
	.present-wrapper
		position: relative
		.present-form
			&:hover
				transform: scale(1)
	.present-form
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		display: flex
		align-items: center
		transform-origin: 50% 50%
		transform: scale(0)
		background-color: #fff
		@include transition
		&.active
			transform: scale(1)

.programms
	padding-top: 60px
	@media(max-width: 767px)
		padding-top: 30px
	&-slider
		.slick-slide
			margin: 0 15px
		.slick-list
			margin: 0 -15px
	.desc
		padding: 30px 15px 30px 15px
	.item
		border-radius: 3px
		overflow: hidden
		box-shadow: 3px 2px 7px #D6D6D4
	
	
	.title
		margin-bottom: 10px
		font-weight: 600
	.info
		font-weight: 600

.dop-programms
	padding-top: 60px
	@media(max-width: 767px)
		padding-top: 30px
.posts
	.pic
		display: block
		height: 325px
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		// flex-shrink: 0
	.desc
		flex: 1 1
		background-color: #f5f3ed
		padding: 30px
		@media(max-width: 767px)
			padding: 20px 15px
	.title
		font-size: 34px
		font-weight: 600
	.item
		display: flex
		flex-direction: column
		margin-bottom: 30px
		height: calc(100% - 30px)
	.prices
		font-size: 20px
		font-weight: 600

.master
	padding-top: 60px
	@media(max-width: 767px)
		padding-top: 30px
.about
	padding: 60px 0
	@media(max-width: 767px)
		padding: 30px 0
	&-slider
		.item
			max-height: 740px 
			overflow: hidden
	&-slider-nav
		.item

			max-height: 128px
			overflow: hidden
		.slick-slide
			margin: 0 5px 
		.slick-active
			position: relative
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto

.contacts
	padding: 60px 0
	background-color: #cbe6e3
	border-bottom: 10px solid #4e4c4b
	@media(max-width: 767px)
		padding: 30px 0
	.h3
		margin-bottom: 30px
	input
		border-color: $textcolor
		&::placeholder
			color: $textcolor

.team
	padding: 60px 0
	@media(max-width: 767px)
		padding: 30px 0
	.h3
		margin-bottom: 20px
	.title
		font-size: 25px
		font-weight: 600
	.btn-orange
		margin-bottom: 20px
.recalls
	padding: 60px 0
	@media(max-width: 767px)
		padding: 30px 0
.recall-field
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	border: 2px solid $accent
	height: 100%
	padding: 10px 20px
	text-align: center
	max-height: calc(100% - 20px)
	img
		width: 35%
		animation: pulse 4s infinite ease-in-out
.recall-message
	font-weight: 700
	font-size: 18px

.footer
	padding: 30px 0
	font-weight: 700;
	font-size: 20px
	line-height: 1.2
	.copyright
		display: inline-block
		max-width: 800px
		margin: auto
		a
			color: inherit
			border-bottom: 2px solid #000
			&:hover
				border-color: transparent
 
.quiz
	padding: 20px 0
	&-steps 
		padding: 30px 0
		// min-height: 300px
	&-step
		display: none
		&.active
			display: block
		h4
			margin-bottom: 30px
	&-progress
		margin-bottom: 20px
	.prev-step
		max-width: 300px
		@media(max-width: 767px)
			max-width: 100%
			margin-bottom: 20px
	.next-step
		max-width: 300px
		@media(max-width: 767px)
			max-width: 100%
.progress
	background-color: #efefef
.quiz-progress
.progress-bar
	background-color: $accent


.bg-page
	position: relative
	z-index: 1
	&::before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		z-index: -1
		background-color: rgba(255, 255, 255, .6)

.sec-1
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background: url(../images/dest/house-bg.jpg)no-repeat center
	background-size: cover
	text-align: center
	height: calc(100vh - 80px) 
	.btn
		max-width: 300px
		margin: auto
	.h4
		margin-bottom: 30px

.sec-2
	padding: 80px 0

	.description
		margin-bottom: 20px
		flex-wrap: wrap
		font-weight: 600
		&-item
			flex-basis: 33.3%
			margin-bottom: 15px
			.name
				color: #fa5838
	.price
		font-size: 20px
		line-height: 150%
		margin-bottom: 30px
		letter-spacing: .02em
		font-weight: 700

.sec-3
	padding: 80px 0
	background-color: #cbe6e3

.home-item
	margin-bottom: 30px
	&-img
		display: block
	&-info
		padding: 15px
		background-color: #fff
		font-weight: 600
		.meta
			margin-bottom: 15px
			&-item
				margin-right: 60px
				.name
					font-size: 13px
					line-height: 100%
					margin-right: 10px
					letter-spacing: .04em
					text-transform: uppercase
					color: #fa5838
				.value
					line-height: 150%
					letter-spacing: .02em
					color: #000
	.location
		margin-bottom: 20px
.sec-4
	padding: 80px 0
	background: url(../images/dest/house-bg-2.jpg)no-repeat center
.phone-fix
	position: fixed
	right: 30px
	bottom: 30px
	width: 50px
	height: 50px
	border-radius: 50%
	background-color: $accent 
	z-index: 1
	border: none
	animation: pulse 1.8s infinite
	svg
		width: 30px
		height: 30px
	&:focus
		outline: none

@keyframes pulse
	0%
		transform: scale(1)
	50% 
		transform: scale(1.1)
	75% 
		transform: scale(1)

#politic
	.modal-dialog
		max-width: 800px
		width: 100%
	.modal-body
		padding-top: 40px
		padding-bottom: 40px
	.close
		top: 20px
		right: 20px