.h2
	display: block
	margin-bottom: 60px
	font-size: 80px
	font-weight: 700
	line-height: 90%
	letter-spacing: .02em
	text-transform: uppercase
	span
		display: block
		font-size: 50px;
		color: $accent
	@media(max-width: 767px)
		margin-bottom: 20px
		font-size: 40px
		span
			font-size: 25px

.h3
	display: block
	margin-bottom: 60px
	font-size: 50px
	font-weight: 700
	line-height: 90%
	letter-spacing: .02em
	text-transform: uppercase
	overflow-wrap: break-word
	word-wrap: break-word
	-webkit-hyphens: auto
	-ms-hyphens: auto
	span
		display: block
		font-size: 30px
		color: $accent
	@media(max-width: 767px)
		margin-bottom: 20px
		font-size: 28px
		span
			font-size: 20px

.list
	padding-left: 0
	list-style: none
	
.list-item
	position: relative
	padding-left: 20px
	&:before
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: 0
		content: ""
		width: 4px
		height: 4px
		border-radius: 50%
		background-color: $accent
.h4
	display: block